/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.time-form-input{
  border: none;
  font-family: "Rubik";
}

.time-form-input:focus{
  outline: none;
}
