/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

span{
  align-self: center;
  color: var(--fr-black);
  font-family: "Rubik";
  font-size: 25px;
}

#clock-icon-div{
  padding-top: 2px;
}

#clock-icon{
  height: 2.5ch;
  width: 2.5ch;
}

#time-form-div{
  align-items: center;
  border: var(--fr-light-grey) solid;
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: 100px;
  padding: 5px 15px;
  width: 100%;
}

#time-form-input-div{
  display: flex;
  margin: 0;
  padding: 0;
  width: 15%;
}

.time-form-input{
  color: var(--fr-black);
  border: none;
  font-family: "Rubik";
  font-size: 28px;
  font-weight: bold;
  width: 2ch;
}

.time-form-input:focus{
  outline: none;
}
